@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: background-color .3s ease, color .3s ease, border-color .3s ease;
}
.sun-and-moon {
  transition: all .4s ease;
}

.sun {
  transition: transform 0.4s ease;
}

.sun-beams {
  transition: opacity 0.4s ease;
}

html.dark .sun {
  transform: scale(0.6);
}

html.dark .sun-beams {
  opacity: 0;
}

html.dark .moon {
  animation: moonRise 0.4s ease forwards;
}

@keyframes moonRise {
  from { transform: scale(0.8); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

